:root{
    --as: url('../images/AS.png');
    --two: url('../images/2S.png');
    --three: url('../images/3S.png');
    --four: url('../images/4S.png');
    --five: url('../images/5S.png');
    --six: url('../images/6S.png');
    --seven: url('../images/7S.png');
    --eight: url('../images/8S.png');
    --nine: url('../images/9S.png');
    --ten: url('../images/0S.png');
    --king: url('../images/KS.png');
    --queen: url('../images/QS.png');
    --jack: url('../images/JS.png');
}

.cards-col {
    width: 100%;
    margin-left: 25px;
    margin-top: 30px;
}

.cards {
    display: flex;
    gap: 130px;
}

.card{
    background: url('../images/closed_card.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 17vh;
    width: 6vw;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
} 

.card:hover{
    box-shadow: 2px 2px 2px #ffffff;
}

.selectedCard{
    border: 2px solid red
}

.cardholder {
    top: 70%;
    left: 85%;
}
