.top{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 120px;
}

.cardholder {
    position: absolute;
}

.cardholders {
    width: 20%;
    margin-left: 60px;
}

.blank-wrap {
    display: flex;
    width: 80%;
}