.top{
    display: grid;
    padding: 0 3%;
    grid-template-columns: 3fr 6fr;
}

.cardholder {
    position: absolute;
}

.cardholders {
    width: 185px;
}

.blank-wrap {
    display: flex;
    justify-content: space-between;
}

.blank-wrap li {
    position: relative;
    width: 90px;
    height: 125px;
    background: rgba(255,255,255,0.4)
}