.box{
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    padding: 30px;
    color:white;
    margin: 0 10%;
    z-index: 2;
}

.box h3{
    padding: 10px;
    border-bottom: 1px solid white;
}

.stats{
    display: flex;
    flex-direction: column;
    padding: 10px
}

.stats span{
    padding: 5px;
}

.finish{
    width: 100vw;
    min-height: 100vh;
    text-align: center;
}

.finish-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.play-again{
    position: relative;
    z-index: 2;
    margin: 10% 40% 0;
    background: rgba(0, 0, 0);
}

p{
    font-style: italic;
    font-size: 10px;
}