span{
    color:white;
    font-size: 26px;
}

.finish-wrap{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background: url('../images/green_back.jpg');
}

.play-again{
    position: fixed;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}