.infobox {
    position: absolute;
    bottom: 0;
    padding: 20px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.restart:hover {
    border: 1px solid white;
}

.restart {
    padding: 10px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}