.unvisible{
    display: none;
}

.visible{
    display: block;
}

.context{
    position: absolute;
    width: 55%;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);

    border-radius: 20px;
    overflow: hidden;
    z-index: 2;

    top: 0;
    left: 0;
    transform: translate(45%, 10%);
}

.context h1{
    text-align: center;
    border-bottom: 1px solid white;
    padding: 20px;
}

.context ul{
    padding: 30px;
}

.context ul li {
    list-style-type: square;
    list-style-position: inside;
    padding: 10px;
}

.rule {
    text-align: center;
    border-radius: 0 0 25px 25px;
}