.top-nav {
    display: flex;
    width: 100%;
    padding-top: 20px;
    justify-content: space-evenly;
}

.cardholder {
    position: absolute;
}

.cardholders{
    width: 15%;
}

.blank-wrap {
    display: flex;
    gap: 20px;
}
