.top-nav {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
    margin-bottom: 15px;
    align-items: center;
    /* background: rgba(0, 0, 0, 0.4); */
    border-bottom: 1px solid rgba(255,255,255,0.5);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}

.btn-wrap{
    display: flex;
    gap: 20px;
}

.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: rgba(255,255,255,0.3);
    color: white;
    border-radius: 15px;
}

.scoreboard img{
    margin-right: 10px;
}